{
  "suggest.noselect": false,
  "coc.preferences.formatOnSaveFiletypes": [
    "javascript",
    "typescript",
    "typescriptreact",
    "json",
    "javascriptreact",
    "typescript.tsx",
    "graphql",
    "typescriptvue",
    "javascriptvue"
  ],
  "eslint.format.enable": true,
  "eslint.run": "onType",
  "eslint.autoFixOnSave": false,
  "tailwindCSS.headwind.removeDuplicates": true,
  "vetur.validation.template": true,
  "html-css-support.enabledLanguages": [
    "html",
    "vue",
    "blade",
    "htmldjango",
    "typescriptreact",
    "javascriptreact"
  ],
  "cSpell.language": "en",
  "cSpell.ignorePaths": [
    "node_modules",
    "**/node_modules",
    "**/node_modules/**",
    "node_modules/**",
    "vscode-extension",
    ".git",
    "*.dll",
    "**/*.dll"
  ]
}
